@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-black max-w-[1600px] mx-auto;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.embla {
  overflow: hidden;
  @apply mt-9 before:left-0 before:block before:w-2/12 before:h-full before:z-10 before:absolute relative;
  @apply after:top-0 after:right-0 after:block after:w-2/12 after:h-full after:z-10 after:absolute;
}
.embla::before {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.45) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.embla::after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
  margin-right: 20px;
  margin-left: 10px;
  @apply w-1/2 overflow-hidden  flex flex-col items-center;
}
.embla_imgCarousel {
  overflow: hidden;
  @apply before:left-0 before:block before:w-[20px]  before:h-full before:z-10 before:absolute relative;
  @apply after:top-0 after:right-0 after:block after:w-[20px]  after:h-full after:z-10 after:absolute;
}
.embla_imgCarousel::before {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.embla_imgCarousel::after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}
.embla_imgCarousel__container {
  display: flex;
}
.embla_imgCarousel__slide {
  flex: 0 0 69%;
  min-width: 0;
  margin-right: 10px;
  margin-left: 5px;
  @apply w-1/2 overflow-hidden  flex flex-col items-center;
}

.embla__slide-2 {
  flex: 0 0 65%;
  min-width: 0;
  margin-right: 8px;
  margin-left: 4px;
  @apply w-1/2 rounded-xl overflow-hidden  flex flex-col items-center;
}
.article-img {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);

  @apply bg-cover w-full;
}

/* Hero Section */
.hero_container {
  clip-path: polygon(56% 0, 100% 26%, 73% 100%, 0 100%, 0 0);
}
