@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-black;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.embla {
  overflow: hidden;
  @apply mt-9 before:left-0 before:block before:w-2/12 before:h-full before:z-10 before:absolute relative;
  @apply after:top-0 after:right-0 after:block after:w-2/12 after:h-full after:z-10 after:absolute;
}
.embla::before {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.45) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.embla::after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
  margin-right: 20px;
  margin-left: 10px;
  @apply w-1/2 overflow-hidden  flex flex-col items-center;
}
.embla__slide-2 {
  flex: 0 0 65%;
  min-width: 0;
  margin-right: 8px;
  margin-left: 4px;
  @apply w-1/2 rounded-xl overflow-hidden  flex flex-col items-center;
}
.article-img {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);

  @apply bg-cover w-full;
}

.event-name::before {
  clip-path: polygon(
    6% 26%,
    0 0,
    15% 0%,
    85% 0%,
    100% 0,
    94% 24%,
    100% 51%,
    94% 76%,
    100% 100%,
    0 100%,
    6% 77%,
    0 54%
  );

  display: block;
  position: absolute;
  height: 105%;
  width: 105%;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-2%, 0%);

  background-color: #310b0b;
}
.event-tabs-button {
  @apply h-16 w-16 p-5 bg-bgSecondary text-gray-200 font-semibold flex items-center justify-center mb-1 cursor-pointer focus:bg-[#16040F] focus:text-[#FC6D6D] transition-colors;
}
.switchTab {
  animation: flowUpOut 0.5s ease-out 0s;
}

@keyframes flowUpIn {
  0% {
    opacity: 0;
    display: block !important;
    transform: translateY(4%);
  }
  100% {
    opacity: 1;
  }
}
