.section__Jobs-buttonCompany {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  border-left: 2px solid #8892b0;
  outline: none;
  font-weight: 500;
  @apply text-lg;
  height: 48px;
  /* width: 100%; */
  text-align: left;
  padding: 0 20px;
}

/* .section__Jobs-buttonCompany:hover,
.section__Jobs-buttonCompany:focus {
  background-color: #172a45;
} */

.section__Jobs-buttonCompany:hover,
.section__Jobs-buttonCompany:active,
.section__Jobs-buttonCompany:focus {
  color: #fc6d6d;
  outline: 0px;
}

/* Veticlas Tabs */
.section__Jobs-container {
  @apply mt-[70px] pb-[70px] transition-all;
  max-width: 700px;
  position: relative;
  background-color: #07090f;
}

.section__Jobs-container span {
  font-size: 12px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 2px;
  height: 48px;
  transition: transform 0.5s;
}

.section__Jobs-container span.index1-chosen {
  border-left: 2px solid#FC6D6D;
  transform: translateY(0px);
}
.section__Jobs-container span.index2-chosen {
  transform: translateY(48px);
  border-left: 2px solid#4EB5FF;
}
.section__Jobs-container span.index3-chosen {
  transform: translateY(96px);
  border-left: 2px solid#70FF87;
}
.section__Jobs-container span.index4-chosen {
  transform: translateY(calc(48px * 3));
  border-left: 2px solid#FFF170;
}
.section__Jobs-container span.index5-chosen {
  transform: translateY(calc(48px * 4));
  border-left: 2px solid#EB70FF;
}
.section__Jobs-container span.index6-chosen {
  transform: translateY(calc(48px * 5));
  border-left: 2px solid#FF8F50;
}

.section__Jobs-styledTabList {
  max-width: 130px;
}

.section__Jobs-styledTabList {
  padding: 0;
}

/* Vertical Content */
.section__Jobs-styledContent {
  font-family: sans-serif;
  text-align: left;
  color: #8892b0;
}

.section__Jobs-styledContent h4 {
  color: #ccd6f6;
  font-size: 22px;
  font-weight: 500;
}

.section__Jobs-styledContent h5 {
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  color: #fc6d6d;
}

.section__Jobs-styledContent p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

/* .section__Jobs-detail::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #fc6d6d;
} */
.event-name {
  transform: rotate(-3deg) translateY(-2.2rem);
}
.event-name::before {
  clip-path: polygon(
    6% 26%,
    0 0,
    15% 0%,
    85% 0%,
    100% 0,
    94% 24%,
    100% 51%,
    94% 76%,
    100% 100%,
    0 100%,
    6% 77%,
    0 54%
  );

  display: block;
  position: absolute;
  height: 180%;
  width: 120%;
  content: "";
  z-index: -1;
  background-color: #310b0b;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}
.event-tabs-button {
  @apply h-16 w-16 p-5 bg-bgSecondary text-gray-200 font-semibold flex items-center justify-center mb-1 cursor-pointer focus:bg-[#16040F] focus:text-[#FC6D6D] transition-colors;
}
.event-img {
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
}
